#navbar{
    display: flex;
    flex-direction: column;
    
   }
   #navbar::before {
    content: "";
    background-color: #462525;
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}


#navbar ul li a {
    /* display: flex; */
    /* flex-direction: column; */
    padding: 6px;
    border-radius: 20px;
    text-decoration: none;
    color: wheat;
    font-size: 12px;
    font-family: 'Baloo Bhai', cursive;
    flex-wrap: wrap;
}

.name {
    width: 150px;
    margin-left: 56px;
    margin-top: 15px;
}

#home p {
    color: white;
    text-align: center;
    font-size: 11px;
    font-family: 'Bree Serif', serif;
    margin-top: 1px;
}